[project]
	description = jyknight's llvm branch
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jyknight
[access "refs/for/refs/*"]
	read = group user/jyknight
	push = group user/jyknight
	label-Code-Review = -2..+2 group user/jyknight
	label-Verified = -1..+1 group user/jyknight
	rebase = group user/jyknight
	removeReviewer = group user/jyknight
	submit = group user/jyknight
[access "refs/heads/*"]
	read = group user/jyknight
	create = group user/jyknight
	push = +force group user/jyknight
	pushMerge = group user/jyknight
[access "refs/tags/*"]
	push = +force group user/jyknight
	pushTag = group user/jyknight
	pushSignedTag = group user/jyknight
